.portNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 5vw;
}

.portLinks {
    display: flex;
    gap: 3vw;
    font-size: 1.4vw;
    position: relative;
    z-index: 20000;
}

.portLinks a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

.portLinks a.home {
    color: white !important;
}

.portLinks a.other {
    color: black !important;
}

.portLinks a:hover {
    color: gray !important;
}

.portLinks a:active {
    color: blue !important;
}
.PortfolioName.home {
    color: white !important;
  }
  
  .PortfolioName.other {
    color: black !important;
  }
  .PortfolioName {
    display: block;
    font-size: 2.5vw;
    color: black;  /* Default color for other pages */
  }
  
  .PortfolioName.home {
    color: white;  /* White color for the home page */
  }
    

#menu {
    display: none;
}

@media (max-width: 768px) {
    .PortfolioName {
        font-size: 8vw;
        position: relative;
        z-index: 100000;
    }
    .portNavigation {
        height: 12vh;
        padding: 0 5vw;
    }
    .portLinks {
        flex-direction: column;
        position: fixed;
        top: 10vh;
        right: 4vw;
        background-color: gray;
        padding: 5vw;
        border-radius: 1vw;
        display: none;
        z-index: 999;
        width: 50vw;
        pointer-events: all;
    }

    .portLinks.show {
        display: flex;
    }

    .portLinks hr {
        display: none;
    }

    .portLinks a {
        font-size: 6vw;
        margin-bottom: 2vw;
    }

    #menu {
        display: block;
        font-size: 8vw;
        position: fixed;
        top: 7vw;
        right: 4vw;
        z-index: 101;
        cursor: pointer;
    }
}
